* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

/*Header*/

.carousel img{
  height: 100vh;
}

.navbar-brand img{
  height: 2rem;
  width: 2rem;
}

.card {
  width: 90%;
  margin: 0 auto; /* y= top -bottom  x=left-right*/
  min-height: 20rem;
}

.card img {
  height: 10rem;
}

.card-body{
  height: 12.5rem;
  overflow: hidden;
}

i {
  font-size: 1.5rem;
}

.title-footer {
  font-size: 1.5rem;
}

/*https://getbootstrap.com/docs/4.5/layout/overview/#responsive-breakpoints*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  i {
    font-size: 2rem;
  }

  .title-footer {
    font-size: 2rem;
  }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


 }